@import url(reset.css);
@import url(globalStyles.css);
@import url(./components/buttons.css);
@import url(./components/inputs.css);


.app__header {
    width: 100%;
    position: sticky;

    background-color: var(--color-grey-5);
}

.app__header--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.25rem;

    height: 8.25rem;

    margin: 0 1rem;
}

.app__title {
    font-size: var(--font-size-1);
    font-weight: var(--font-weight-1);
}

.app__title span {
    color: var(--color-brand-1);
}

#app {
    display: flex;
    flex-direction: column;
    gap: 1.75rem;
    margin: 1.75rem 1rem;
}

#app .finance__header {
    display: flex;
    flex-direction: column;
    gap: 2.375rem;
}

#app .finance__header h2 {
    font-size: var(--font-size-2);
    font-weight: var(--font-weight-2);
}