@import url(reset.css);
@import url(globalStyles.css);
@import url(./components/buttons.css);


.app-header {
    width: 100%;
    position: sticky;

    background-color: var(--color-grey-5);
}

.app-header__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.25rem;

    height: 8.25rem;

    padding: 0 1rem;
}

.app-title {
    font-size: var(--font-size-1);
    font-weight: var(--font-weight-1);
}

.app-title span {
    color: var(--color-brand-1);
}